name: CI/CD Pipeline

# env:
#   DEPLOY_ENV: ${{ github.ref_name == 'main' && 'stg' || github.ref_name == 'dev' && 'dev' }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: GitHub environment to use (dev/stg/prd)
        required: true
        default: dev
  push:
    branches: [ dev, main ]
  release:
    types: [ published ]

jobs:
  build-wheel:
    uses: ./.github/workflows/build-wheel.yml
    with:
      environment: ${{ inputs.environment || 'dev' }}
    secrets: inherit

  deploy-bundle:
    # name: ${{ env.DEPLOY_ENV }}-deploy-bundle
    needs: build-wheel
    uses: ./.github/workflows/deploy-bundle.yml
    with:
      environment: ${{ inputs.environment || 'dev' }}
    secrets: inherit
