name: CI/CD Pipeline

on:
  push:
    branches: [ dev, main ]
  release:
    types: [ published ]

jobs:

  resolve-env:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.set.outputs.environment }}
    steps:
      - id: set
        run: |
          echo "environment=${{ 
            github.event_name == 'release' && github.event.release.target_commitish == 'main' && 'prd' ||
            github.ref_name == 'main' && 'stg' ||
            github.ref_name == 'dev' && 'dev'
          }}" >> $GITHUB_OUTPUT

  build-wheel:
    needs: resolve-env
    uses: ./.github/workflows/build-wheel.yml
    with:
      environment: ${{ needs.resolve-env.outputs.environment }}
    secrets: inherit

  deploy-bundle:
    # name: ${{ env.DEPLOY_ENV }}-deploy-bundle
    needs: build-wheel
    uses: ./.github/workflows/deploy-bundle.yml
    with:
      environment: ${{ needs.resolve-env.outputs.environment }}
    secrets: inherit
